* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  header, main, footer {
    padding: 5px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  header {
    background-color: yellowgreen;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  header img {
    width: 80px;
  }
  
  header ul {
    list-style: none;
    display: flex;
    gap: 10px;
  }
  
  header ul li {
    background-color: violet;
    padding: 5px 8px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  main {
    background-color: steelblue;
    color: white;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }
  
  main .cont-personaje {
    background-color: tomato;
    width: 200px;
    justify-self: center;
    padding: 10px;
    border-radius: 10px;
  }
  
  main .cont-personaje img {
    width: 150px;
    border-radius: 50%;
  }
  footer {
    background-color: thistle;
  }